---
import NameCard from '../components/NameCard.astro';
import '../global.css';
import ProfilePicture from '../assets/images/profile.png';
import CursorEffect from '../components/CursorEffect.astro';
import Button from '../components/Button.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ryan Stainsby - About Me</title>
	</head>
	<body>
		<CursorEffect />
		<div class="header">
			<div class="header-background"></div>
			<NameCard name="Ryan Stainsby" subtitle='Senior Front-end engineer' about={['I build high-quality, responsive user interfaces that customers love.']} profilePicture={ProfilePicture} />
		</div>
		<div class="container">
			<div class="text-and-cta">
				<h2>Let's Work Together.</h2>
				<p>
					Whether it's a <b>single page website, UI library or an interactive 3D experience with WebGL</b>  - I help businesses build websites that delight their users and leave them remembering you for all the right reasons.
				</p>
				<Button icon="arrow-right">Get In Touch</Button>
			</div>
		</div>
	</body>
</html>

<style>
	.container {
		width: 90%;
		max-width: 1120px;
		margin: 0 auto;
	}

	.text-and-cta {
		max-width: 65ch;
		margin-bottom: 20rem;
	}

	.text-and-cta h2 {
		color: var(--cl-primary);
		margin-bottom: 2rem;
	}

	.text-and-cta h2::after {
		content: '';
		display: block;
		width: 50%;
		height: 3px;
		background: var(--cl-primary);
		margin-top: 0.5rem;
	}

	.text-and-cta p {
		margin-bottom: 3rem;
		font-size: 1.1rem;
	}

	.header {
		display: grid;
		grid-template-rows: 1fr 1fr;
		height: 100vh;
		max-height: 100vh;
		padding-top: 3rem;
		margin-bottom: 40vh;
	}

	:global(.name-card) {
		grid-row: 1/1;
	}

	.header-background{
		position: absolute;
		top: 0;
		left: 0;
		height: calc(40vw + 1.5rem);
		max-height: 220px;
		width: 100%;
		background: linear-gradient(180deg, var(--cl-primary) 0%, var(--cl-secondary) 100%);
		background-size: cover;
		background-position: center;
		z-index: -1;
	}

	@media screen and (min-width: 640px) {
		.header {
			width: 100vw;
			grid-template-rows: 1fr;
			grid-template-columns: 1fr minmax(360px, 860px) minmax(50px, 200px) 1fr;
			column-gap: 3.5rem;
			height: 80vh;
			align-items: center;
			min-width: fit-content;
			overflow: hidden;
		}

		:global(.name-card) {
			grid-row: 1/-1;
			grid-column: 2/4;
		}

		.header-background {
			display: none;
		}

		.header-background:nth-of-type(1) {
			grid-column: 1/2;
		}

		.header-background:nth-of-type(3) {
			grid-column: 3/-1;
		}
	}

	@media screen and (min-width: 640px) and (max-width: 1240px) {
		.header {
			grid-template-columns: 1fr minmax(360px, 600px) minmax(50px, 200px) 1fr;
		}

		.header-background {
			max-height: 260px;
		}
	}
</style>