---
import NameCard from '../components/NameCard.astro';
import '../global.css';
import ProfilePicture from '../assets/images/profile.png';
import Navigation from '../components/Navigation.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ryan Stainsby - About Me</title>
	</head>
	<body>
		<Navigation />
		<div class="header container">
			<div class="header-background"></div>
			<NameCard name="Ryan Stainsby" subtitle='Front-end engineer' about='I help businesses design and build beautiful web experiences' profilePicture={ProfilePicture} />
			<div class="header-background"></div>
		</div>
	</body>
</html>

<style>
	.header {
		display: grid;
		grid-template-rows: 1fr 1fr;
		height: 100vh;
		max-height: 100vh;
		padding-top: 3rem;
	}

	:global(.name-card) {
		grid-row: 1/1;
	}

	.header-background{
		position: absolute;
		top: 0;
		left: 0;
		height: calc(40vw + 2rem);
		width: 100%;
		background: linear-gradient(180deg, var(--cl-primary) 0%, var(--cl-secondary) 100%);
		background-size: cover;
		background-position: center;
		z-index: -1;
	}

	@media screen and (min-width: 640px) {
		.header {
			position: absolute;
			top: 15vh;
			width: 100vw;
			grid-template-rows: minmax(30vw, 400px);
			grid-template-columns: 1fr minmax(360px, 860px) minmax(50px, 200px) 1fr;
			column-gap: 3.5rem;
			height: unset;
			align-items: center;
			min-width: fit-content;
			overflow: hidden;
		}

		:global(.name-card) {
			grid-row: 1/-1;
			grid-column: 2/4;
		}

		.header-background {
			grid-row: 1 / 2;
			position: relative;
			height: 80%;
			max-height: 360px;
			min-height: 220px;
		}

		.header-background:nth-of-type(1) {
			grid-column: 1/2;
		}

		.header-background:nth-of-type(3) {
			grid-column: 3/-1;
		}
	}

	@media screen and (min-width: 640px) and (max-width: 1240px) {
		.header {
			grid-template-columns: 1fr minmax(360px, 600px) minmax(50px, 200px) 1fr;
		}

		.header-background {
			max-height: 260px;
		}
	}
</style>