---
import { Icon } from 'astro-icon/components';

interface Props {
  link: string;
  icon: string;
}

const { link, icon } = Astro.props;
---

<a href={link}>
  <slot/>
</a>

<style scoped>
  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    color: var(--cl-white);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    color: var(--cl-primary);
  }

  a::after {
    content: '';
    position: absolute;
    top: 8px;
    left: -12px;
    height: 120%;
    width: 100%;
    background-image: radial-gradient(#545454 1px, transparent 0);
    background-size: 12px 12px;
    background-position: -19px -19px;
    z-index: -1;
    transition: 300ms ease-in-out;
  }

  a:hover::after {
    top: -4px;
    left: -4px;
  }
  
  .icon {
    margin-left: 0.5rem;
    color: var(--cl-primary);
    fill: var(--cl-primary);
    stroke: var(--cl-primary);
  }
</style>