---
import { Image } from 'astro:assets';
import SocialLinks from './SocialLinks.astro';

interface Props {
  name: string;
  subtitle: string;
  about: string | string[]
  profilePicture: ImageMetadata;
}

const { name, subtitle, about, profilePicture } = Astro.props;
---

<div class="name-card">
  <div class="image-container">
    <span class="image-background__outer-circle">
      <span class="outer-circle__orbit"></span>
      <span class="outer-circle__orbit"></span>
    </span>
    <span class="image-background__inner-circle"></span>
    <Image 
      id='profile-picture'
      src={profilePicture} 
      alt=`A photo of ${name}`
      loading='eager'
      widths={[320, 800]}
      sizes={`(max-width: 639px) 320px, 800px`}>
    </Image>
  </div>

  <div class="name-card__text">

    <h1 class="title">{ name }</h1>
    <h2 class="subtitle">{ subtitle }</h2>
    {
      Array.isArray(about)
        ?
        <ul class="about">
          { about.map((item, index) => (
            <li>{ item }</li>
          )) }
        </ul>
        : <p class="about">{ about }</p>
    }
    <SocialLinks groupClass="social-links" linkClass="icon-link" iconClass="icon" />
  </div>
</div>

<style scoped>
  @property --ring-draw-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }

  .name-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    width: fit-content;
    margin: 0 auto;
  }

  .name-card__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: fade-in 1s ease-in;
  }

  #profile-picture {
    border-radius: 50%;
    height: calc(80vw - 2rem);
    width: calc(80vw - 2rem);
    max-width: 320px;
    max-height: 320px;
    margin-bottom: 2rem;
    filter: grayscale(90%) sepia(40%);
    aspect-ratio: 1/1;
    background-color: var(--cl-bg);
    border: 3px solid var(--cl-secondary);
  }

  .title {
    font-size: clamp(2rem, 5vw + 1rem, 3rem);
    margin: 0 0 0.5rem 0;
  }

  .subtitle { 
    font-size: clamp(1.2rem, 1.224vw + 0.955rem, 2rem);
    font-weight: 400;
    margin-bottom: 1.25rem;
    color: var(--cl-white);
  }

  .scribble {
    font-size: 1.2rem;
    font-family: 'Burlington Script', cursive;
  }

  .about {
    font-weight: 300;
    font-size: 1rem;
    text-transform: none;
    color: var(--cl-white);
    margin-bottom: 3rem;
    width: 90%;
    max-width: 40ch;
    line-height: 170%;
  }

  @media screen and (min-width: 800px) {
    .name-card {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      text-align: start;

    }

    #profile-picture {
      min-width: 280px;
      min-height: 280px;
      max-height: 360px;
      max-width: 360px;
      height: calc(35vw - 2rem);
      width: calc(35vw - 2rem);
      margin: 0;
      border: unset;
      background: unset;
      opacity: 0;
      animation: fade-in 0.25s 3s ease-in forwards;
    }

    .image-container {
      position: relative;
      transform-origin: center;
      transform: scale(1.2) translateX(10%);
      aspect-ratio: 1/1;
    }

    .image-background__inner-circle {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: radial-gradient(var(--cl-primary) 56%, transparent 57%);
      aspect-ratio: 1/1;
      animation: pop-in ease-in-out 1s forwards;
    }

    .image-background__outer-circle {
      --p: 0% /* fallback for no property support */;
      display: block;
      position: absolute;
      top: 4%;
      left: 4%;
      right: 4%;
      bottom: 4%;
      border-radius: 50%;
      background: conic-gradient(var(--cl-secondary) var(--ring-draw-angle), var(--cl-bg) 0);
      z-index: -1;
      aspect-ratio: 1/1;
      animation-name: draw-ring, spin-ball;
      animation-duration: 1s, 8s;
      animation-timing-function: ease-in-out, linear;
      animation-delay: 1s, 3.5s;
      animation-iteration-count: 1, infinite;
      animation-fill-mode: forwards;
``
    }

    .outer-circle__orbit {
      display: block;
      position: absolute;
      top: calc(50% - 10px);
      left: calc(100% - 12px);
      border-radius: 50%;
      height: 20px;
      width: 20px;
      background-color: var(--cl-secondary);
      aspect-ratio: 1/1;
      transform: scale(0);
      animation: pop-in 0.1s ease-in-out 2s forwards;
    }

    .outer-circle__orbit:nth-child(2) {
      top: calc(50% - 10px);
      left: -8px;
      animation: pop-in 0.1s ease-in-out 2.5s forwards;
    }

    .image-background__outer-circle:before {
      content: "";
      position: absolute;
      inset: 4px;
      border-radius: inherit;
      background: var(--cl-bg);
    }

    .name-card__text {
      height: fit-content;
      grid-column: 1/2;
      align-items: flex-start;
      justify-content: center;
      text-align: start;
    }

    .about {
      font-size: clamp(1rem, 0.7143rem + 0.7143vw, 1.25rem);
    }

    .title {
      font-size: clamp(2.5rem, 0.4355rem + 5.1613vw, 3.5rem);
    }
  }

  @media screen and (min-width: 950px) {
    .name-card {
      gap: 4rem;
    }

    #profile-picture {
      max-height: 400px;
      max-width: 400px;
    }

    .title {
      font-size: 4rem;
    }
  }

  @media screen and (min-width: 1200px) {
    .title {
      font-size: 4.5rem;
    }

    #profile-picture {
      max-height: 440px;
      max-width: 440px;
    }
  }

  @media (prefers-reduced-motion) {
    .image-background__outer-circle {
      animation: none;
      --ring-draw-angle: 360deg;
    }

    .outer-circle__orbit, .outer-circle__orbit:nth-child(2) {
      animation: none;
      transform: scale(1);
      opacity: 1;
    }

    .image-background__inner-circle {
      animation: none;
      transform: scale(1);
    }

    #profile-picture {
      animation: none;
      opacity: 1;
    }
  }

  @keyframes draw-ring {
    to {
      --ring-draw-angle: 360deg;
    }
  }

  @keyframes pop-in {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes spin-ball {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>