<div class="scroll-indicator">
  <span>S</span>
  <span>C</span>
  <span>R</span>
  <span>O</span>
  <span>L</span>
  <span>L</span>
</div>

<style scoped>
  .scroll-indicator {
    position: relative;
    width: fit-content;
    height: 60%;
  }

  .scroll-indicator::after {
    content: "";
    top: 16px;
    left: 50%;
    position: relative;
    display: block;
    width: 1px;
    height: 100%;
    background: var(--cl-secondary);
    animation: draw-line 2s ease-in-out forwards;
  }

  .scroll-indicator span {
    display: inline-block;
    animation-name: hop;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  .scroll-indicator span:nth-child(1) {
    animation-delay: 3.1s;
  }

  .scroll-indicator span:nth-child(2) {
    animation-delay: 3.2s;
  }

  .scroll-indicator span:nth-child(3) {
    animation-delay: 3.3s;
  }

  .scroll-indicator span:nth-child(4) {
    animation-delay: 3.4s;
  }

  .scroll-indicator span:nth-child(5) {
    animation-delay: 3.5s;
  }

  .scroll-indicator span:nth-child(6) {
    animation-delay: 3.6s;
  }

  

  @keyframes hop {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(-10px);
    }
    20% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes draw-line {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }

  @media screen and (min-width: 800px) {
    .scroll-indicator {
      position: absolute;
      top: 110%;
    }
      
    .scroll-indicator::after {
      height: 40vh;
    }

    @keyframes draw-line {
      0% {
        height: 0;
      }
      100% {
        height: 40vh;
      }
    }
  }
</style>
